[submodule "Carthage/Checkouts/SideMenu"]
	path = Carthage/Checkouts/SideMenu
	url = https://github.com/jonkykong/SideMenu.git
[submodule "Carthage/Checkouts/JTAppleCalendar"]
	path = Carthage/Checkouts/JTAppleCalendar
	url = https://github.com/patchthecode/JTAppleCalendar.git
[submodule "Carthage/Checkouts/Alamofire"]
	path = Carthage/Checkouts/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Carthage/Checkouts/iCalKit"]
	path = Carthage/Checkouts/iCalKit
	url = https://github.com/kiliankoe/iCalKit.git
